* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none !important;
}

body {
  background: #e5e5e5;
}

.flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  margin: 0 auto;
  max-width: 1600px;
}

.header {
  background-color: #222222;
  min-height: 75px;
}

.fa-bars,
.fa-user,
.fa-cart-shopping {
  font-size: 23px;
  color: #e8e8e8;
}

.fa-magnifying-glass {
  font-size: 30px;
  color: #e8e8e8;
}

.header-left-part {
  margin-left: 231px;
}

.header-right-part {
  margin-right: 240px;
}

.fa-magnifying-glass {
  margin-left: 40px;
}

.fa-user {
  margin: 0 33px;
}

.main {
  display: flex;
  background: #f1e4e6;
}

.main-left {
  max-width: 800px;
}

.main-img {
  width: 100%;
  height: 100%;
}

.main-right {
  display: flex;
  padding-top: 290px;
  padding-left: 64px;
}

.pinc-rectanglr {
  border: 1px transparent #000;
  width: 12px;
  height: 92px;
  background: #f16d7f;
  margin-right: 16px;
}

.main-text-big {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}

.main-text-small {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #222222;
}

.red-text-main {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #f16d7f;
}

.parts-section {
  margin-top: 65px;
  display: grid;
  grid-template-rows: 260px 180px;
  grid-template-columns: repeat(3, 360px);
  gap: 30px;
  justify-content: center;
  margin-bottom: 96px;
}

.part-1 {
  background: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url("/img/for_woman.jpg");
  position: relative;
}

.part-2 {
  background: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url("/img/for_man.jpg");
  position: relative;
}

.part-3 {
  background: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url("img/for_kids.png");
  position: relative;
}

.part-4 {
  grid-column: 1/4;
  position: relative;
  background: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url("/img/accesories.jpg");
}

.part-head {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.part-first-head {
  text-align: center;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
}

.part-second-head {
  text-align: center;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #f16d7f;
}

.section-items-head {
  text-align: center;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
}

.section-items-text {
  text-align: center;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9f9f9f;
  margin-bottom: 57px;
}

.btn-all-product {
  margin: 48px auto 95px;
  display: block;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f26376;
  padding: 14px 38px;
  border: 1px solid #ff6a6a;
}

.promotions {
  display: flex;
  background: #222224;
  justify-content: center;
}

.promo {
  display: flex;
  max-width: 360px;
  flex-direction: column;
  align-items: center;
}

.icon-img {
  margin-top: 104px;
}

.promo-head {
  margin-top: 25px;
  margin-bottom: 16px;
  text-align: center;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 19.96px;
  line-height: 24px;
  color: #fbfbfb;
}

.promo-text {
  margin-bottom: 104px;
  text-align: center;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #fbfbfb;
}

.content-box {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin: 0 auto;
  max-width: 1140px;
}

.item {
  max-width: 360px;
}

.img-item-div {
  box-sizing: border-box;
}

.img-item {
  width: 100%;
  display: block;
}

.img-item:hover {
  opacity: 0.2;
}

.cont-item-div {
  padding: 25px 30px 20px 16px;
  background: #f8f8f8;
}

.head-item {
  margin-bottom: 16px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.descr-item {
  margin-bottom: 16px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
}

.price-item {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
}

.fig-comment {
  text-align: center;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}

.subscribe {
  justify-content: center;
  background: linear-gradient(rgba(244, 244, 244, 0.7), rgba(244, 244, 244, 0.7)), url("/img/footer-back.jpg");
}

.sub-back {
  display: flex;
  gap: 325px;
  justify-content: center;
}

.img-fig {
  display: block;
  margin: 0 auto;
  margin-top: 86px;
  margin-bottom: 30px;
}

.figure {
  max-width: 360px;
  margin-bottom: 126px;
}

.fig-comment {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}

.input-form {
  float: left;
  width: 256px;
  height: 50px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background: #e1e1e1;
  border: 1px solid transparent;
  box-sizing: border-box;
  padding: 0 22px;
}

.head-form {
  margin-top: 150px;
  text-align: center;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  color: #222224;
}

.text-form {
  margin-bottom: 32px;
  text-align: center;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #222224;
}

.btn-form {
  text-align: center;
  width: 100px;
  height: 50px;
  background: #f16d7f;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 1px solid transparent;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  box-sizing: border-box;
}

.foot {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  max-width: 1600px;
  background: #222224;
}

.foot-text {
  margin: 30px 0 30px 235px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #fbfbfb;
}

.foot-nav {
  margin: 24px 230px 24px;
}

.foot-btn {
  background: #ffffff;
  width: 32px;
  height: 32px;
}

.foot-btn:hover {
  background: #f16d7f;
  color: #ffffff;
}/*# sourceMappingURL=style.css.map */