* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none !important;
}

body {
  background: #e5e5e5;
}

.section-items-head {
  text-align: center;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
}

.section-items-text {
  text-align: center;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9f9f9f;
  margin-bottom: 57px;
}

.btn-all-product {
  margin: 48px auto 95px;
  display: block;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f26376;
  padding: 14px 38px;
  border: 1px solid #ff6a6a;
}


.content-box {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin: 0 auto;
  max-width: 1140px;
}

.item {
  max-width: 360px;
}

.img-item-div {
  box-sizing: border-box;
  position: relative;

}

.img-item {
  width: 100%;
  display: block;
}

.btn-add-to-cart {
  display: block;
  margin: 188px auto;
  cursor: pointer;
  border: 1px solid #FFFFFF;
  background-color: transparent;
  height: 43px;
  width: 138px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.btn-div {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(58, 56, 56, 0.86);
  display: none;
}

.img-item-div:hover .btn-div {
  display: block;
}

.cont-item-div {
  padding: 25px 30px 20px 16px;
  background: #f8f8f8;
}

.head-item {
  margin-bottom: 16px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.descr-item {
  margin-bottom: 16px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
}

.price-item {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
}